/*
color used:
Primary(orange):#FFAB2D
Secondary(blue):#4AB8E1
Text(black):#323232
*/
/*Default Elements*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0.4em auto;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0.4em auto;
}

h3 {
  font-size: 1.17em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0.4em auto;
}

h4 {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0.4em auto;
}

p {
  margin: 0.5em auto;
}

img {
  width: 100%;
  margin: 30px 0;
}

header {
  background-color: #FFFFFF;
  width: 100%;
  padding: 10px 10px;
  position: fixed;
  box-shadow: 0px 0px 5px 0px rgba(147, 147, 147, 0.75);
  z-index: 99999;
}

nav {
  display: inline-block;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0 0.4em;
}

nav>ul>li>a {
  padding: 0 12px;
  font-weight: 500;
  font-size: 1em;
  color: #353941 !important;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #353941;
}

nav>ul>li>a:hover, nav>ul>li>a:focus {
  color: #FFAB2D !important;
}

.navtoggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle .navtoggle.responsive {
  position: relative;
}

.navtoggle li .navicon {
  font-size: 20px;
  padding: 0;
}

.navtoggle .icon {
  margin: 0;
}

.navtoggle.responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive li:not(:last-child) {
  padding: 10px 0 5px;
  border-bottom: 2px solid rgba(247, 219, 177, 50);
}

.navtoggle.responsive li:first-child {
  padding-top: 0;
}

.navtoggle.responsive .logo {
  padding-top: 10px;
  max-width: 50px;
}

.navtoggle.responsive li:last-child {
  margin-top: 20px;
}

.logo {
  max-width: 33px;
  margin: 0;
}

.line-height-0 {
  line-height: 0;
}

main {
  padding-top: 42px;
}

footer {
  background-image: url(../img/background-image/footer-background.png);
  background-position: top;
  padding: 100px 0px 5px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  display: inline-block;
}

/*Layout*/
.container {
  width: 94%;
  margin: 0 auto;
}

.row {
  margin: 35px 0;
}

.wide-margin {
  margin-bottom: 100px;
}

.margin-30 {
  margin: 30px 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

footer p {
  width: 91%;
}

footer h3 {
  width: 91%;
}

#hero p {
  width: 91%;
}

#work p {
  width: 91%;
}

#work h3 {
  width: 91%;
  line-height: 1.6;
}

.decoration {
  width: 100%;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 10px 0;
}

/*Buttons*/
.button {
  display: inline-block;
  width: 50%;
  /*max-width: 140px;*/
  font-size: 0.875em;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #FFAB2D !important;
  font-weight: 500;
  text-align: center;
  padding: 8px 16px;
  border: solid 4px #FFAB2D;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s;
  transition-timing-function: ease-out;
}

.button:hover, .button:focus {
  background-color: #FFAB2D;
  color: #FFFFFF !important;
}

.project-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-nav .button {
  max-width: 140px;
}

#topButton {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 1em;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  background-image: linear-gradient(135deg, #96DEDA, #50C9C3);
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

#topButton:hover {
  background-image: linear-gradient(135deg, #29323C, #485563);
}

/*Hyperlinks*/
a {
  color: #CC6540;
}

a:visited {
  color: #CC6540;
}

a:hover, a:focus, a:active {
  color: #FFAB2D;
  text-decoration: none;
}

/* Specific Class*/
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-bullet {
  list-style-type: none;
}

.text-align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.icon {
  width: 30px;
  margin: 0 10px;
}

.social {
  display: block;
  margin: 10px 0;
}

.social span {
  display: none;
}

.social-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hightlight {
  display: inline;
  background-color: rgba(247, 219, 177, 50);
}

.small-img {
  width: 100%;
  max-width: 100px;
}

.medium-img img {
  width: 100%;
  max-width: 450px;
}

.shadow {
  box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.1);
}

.words-hero {
  width: 80%;
}

.skills {
  margin-top: 30px;
}

.my-picture {
  width: 80%;
}

.my-story {
  padding: 30px 0;
}

hr {
  border: 0;
}

.hr-about {
  border-bottom: 5px dashed #96CFFA;
}

.hr-think {
  border-bottom: 5px dashed #3FA8F8;
}

.hr-make {
  border-bottom: 5px dashed #FACA4E;
}

.hr-check {
  border-bottom: 5px dashed #FA794E;
}

.ux-ui-design {
  background-color: #D7ECBE;
  color: #7C8B6A;
}

.ux-design {
  background-color: #B9E1F6;
  color: #6F8C9A;
}

.html-css {
  background-color: #BAFDEE;
  color: #6CA296;
}

.design-tools {
  width: 100%;
  background-color: #F7BA64;
  color: #FFFFFF;
}

.developing-tools {
  width: 100%;
  background-color: #7FC8FF;
  color: #FFFFFF;
}

.margin-space {
  margin: 10px 0;
}

.overview-layout {
  margin: 0 30px;
}

.line-height-15 {
  line-height: 1.5em;
}

.lean-ux {
  margin: 30px 0;
  padding: 10px 10px;
  border-radius: 40px 40px 0 0;
  color: #FFFFFF;
}

.think {
  background-image: linear-gradient(180deg, #3FA8F8, #73D3FC);
}

.make {
  background-image: linear-gradient(180deg, #FACA4E, #FDE786);
}

.check {
  background-image: linear-gradient(180deg, #FA794E, #FDB086);
}

/*Specific ID*/
#copyright {
  padding: 15px 0;
  border-top: solid 1px #5D6874;
  width: 100%;
  color: #5D6874;
  font-size: 0.75em;
  text-align: center;
  margin-bottom: 0;
}

#wrap-up {
  background-color: #FAF0E2;
  padding: 30px 40px;
  border-radius: 30px;
}

/*CSS Animation*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate ease-in;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 25s cloud-move-reverse infinite alternate linear;
}

/*Responsive Design*/
@media only screen and (min-width:640px) {
  header {
    text-align: unset;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    width: auto;
    /*float: right;*/
  }

  nav>ul {
    margin: 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul>li>a {
    padding: 0 15px;
    font-size: 0.75em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 55px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.3%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .flex-row-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }

  .flex-column-center picture {
    text-align: center;
  }

  .flex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .md-align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .social span {
    display: inline;
  }

  .social-flex {
    flex-direction: column;
    justify-content: flex-start;
  }

  .about-background {
    background-image: url(../img/background-image/about-background.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  footer p {
    width: 100%;
  }

  footer h3 {
    width: 100%;
  }

  #work .decoration {
    width: 50%;
  }

  #work h3 {
    margin-top: 0;
  }

  #hero p {
    width: 100%;
  }

  #work p {
    width: 100%;
  }

  #work h3 {
    width: 100%;
  }

  #cv .button {
    width: 100%;
  }

  #topButton {
    bottom: 20px;
    right: 20px;
  }

  @media only screen and (min-width:1024px) {
    .container {
      max-width: 1200px;
    }

    .col-ld-7 {
      width: 60%;
    }

    .col-ld-5 {
      width: 40%;
    }
  }
