/*
color used:
Primary(orange):#FFAB2D
Secondary(blue):#4AB8E1
Text(black):#353941
*/
/*Default Elements*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #353941;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 1.17em;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
}

img {
  width: 100%;
}

header {
  background: #FFFFFF;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  position: fixed;
  box-shadow: 0px 0px 5px 0px rgba(147, 147, 147, 0.75);
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  font-weight: 500;
  font-size: 0.875em;
  color: #353941 !important;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #353941;
}

nav>ul>li>a:hover, nav>ul>li>a:focus {
  color: #FFAB2D !important;
}

.logo {
  max-width: 50px;
}

main {
  padding-top: 150px;
}

footer{
  background: #FAF0E2;
  padding: 10px 0px;
}

/*Layout*/
.container {
  width: 94%;
  margin: 0 auto;
}

.row {
  margin: 25px 0;
}

/*Buttons*/
.button {
  display: inline-block;
  font-size: 0.875em;
  text-decoration: none;
  background-color: #FFAB2D;
  color: #FFFFFF !important;
  font-weight: 500;
  text-align: center;
  padding: 12px 29px;
  border-radius: 30px;
}

.button:hover, .button:focus {
  background-color: #FFFFFF;
  color: #FFAB2D !important;
  padding: 8px 25px;
  border: solid 4px #FFAB2D;
}

/*Hyperlinks*/
a {
  color: #CC6540;
}

a:visited {
  color: #CC6540;
}

a:hover, a:focus, a:active {
  color: #FFAB2D;
  text-decoration: none;
}

.icon {
  width: 30px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-bullet {
  list-style-type: none;
}

.text-align-center{
  text-align: center;
}

.social{
  display: block;
}

.hightlight {
  display: inline-block;
  background-color: rgba(247, 219, 177, 50);
}

span {
  display: inline-block;
}

#copyright {
  padding: 15px 0;
  border-top: solid 1px #5D6874;
  width: 100%;
  color: #5D6874;
  font-size: 0.875em;
  text-align: center;
}

@media (min-width:768px) {
  body {
    font-size: 18px;
  }
}
